{% render 'partials/head.liquid' %}

<ul>
{% for task in task %}    
    <li>{{ task.title }}</li>
{% endfor %}
</ul>

<h2>Oefeningen</h2>
<ul>
{% for exercise in exercise %}
    <li>{{ exercise.title }} <br> {{ exercise.description }}</li>
{% endfor %}
</ul>

{% for task in task %}
  <img class="back-gradient" src="assets/{{ task.title }}.png" alt="{{ task.title }}">
{% endfor %}

{% render 'partials/foot.liquid' %}